/*========================================


  Universal Styling


===========================================*/

* {
    margin: 0;
    padding: 0;
    border: 20px;
    border-radius: 15px;
}

@font-face {
    font-family: "mystique";
    src: url(../fonts/Mystique.ttf) format("truetype");
}

h1 {
    position: fixed;
    font-family: "mystique";
}

h1 a {
    color: white
}

h1 a:hover {
    color: greenyellow;
}


body { 
    background: url(../images/tennisbg.jpg) fixed;
}

title {
    color: white;
}

h2 {
    font-family: "mystique";
    color: white;
    font-size: 5em;
    letter-spacing: 3px;
    padding-top: 40px;
    margin: 0.5em;
    text-align: center;
    
}

.greenyellow-text {
    color: yellowgreen;
}

h3 {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 2em;
    text-align: center;
}

.top-block {
    position: relative;
    width: 100%;
}

.kidimage {
    display: block;
    height: auto;
}

.heading-first {
    position: absolute;
    text-align: center;
    color: grey;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 9999;
}

.favsport-text {
    display: inline-block;
    width: 800px;
    padding-inline-start: 300px;
    padding-inline-end: 300px;
    padding-bottom: 70px;
}

.favoriteplayer-text {
    padding-top: 40px;
}

p {
    font-family: 'Anton', sans-serif;
    font-size: 1.3em;
    color: #e5e5e5;
    padding: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    position: relative;
}

.aligncenter {
    float: left;
    padding-right: 50px;
}